<link rel="import" href="feedback-button/mean-feedback-button.html">
<script src="feedback-button/mean-client.js"></script>

<script>
(function() {
  'use strict';

  Gerrit.install(plugin => {
    if (!window.Polymer) { return; } // Only supported in PolyGerrit.

    plugin.registerCustomComponent(
        'robot-comment-controls', 'mean-feedback-button');
  });
})();
</script>
