<dom-module id="mean-feedback-button">
  <template>
    <gr-button
        class="action"
        on-tap="reportNotUseful"
        disabled$="[[disabled]]"
        link>[[buttonText]]</gr-button>
  </template>
  <script src="./mean-feedback-button.js"></script>
</dom-module>
